.body-main {
	margin-top: -38vh;
	flex-shrink: 0;
}

.body-container {
	max-width: 1600px;
	width: calc(100% - 16px);
	margin: 0 auto;
}

.body-ribbon {
	width: 100%;
	height: 40vh;
	background-color: #3F51B5;
	flex-shrink: 0;
}

.body-content {
	border-radius: 2px;
    padding: 8px 56px 30px;
    margin-bottom: 80px;
    margin-left: auto;
	margin-right: auto;
	display: block;
}

.list-box {
	border-radius: 2px;
    padding: 8px 36px 36px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 430px;
    overflow: visible;
}

#add-button {
	position: relative;
    bottom: 9px;
    margin: 0px;
    float: right;
    right: -90%;
}

#save-button {
	width: 140px;
    margin-left: auto;
	margin-right: 10px;
	float: right;
}

#delete-button {
	width: 140px;
    margin-left: auto;
	margin-right: auto;
	float: right;
}

.delete-file-button {
	position: absolute;
    left: 90%;
    bottom: 8px;
}

#add-file-button {
	cursor: pointer;
}

.body-layout {
	padding: 40px 28px;
}

#file-display {
	margin-top: 15px;
}

.file-image {
	width: 100%;
}

.file-card {
	background: #eee;
}

.form-button-left {
	margin-right: 20px;
}

.form-login {
	margin-left: auto;
	margin-right: auto;
	max-width: 604px;
}

.button-box {
	margin-top: 10px;
}

.login-area {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 198px;
}

.login-banner {
	text-align: center;
}

.edit-note-title {
	margin-left: 0;
	margin-right: auto;
	width: 400px;
    max-width: -webkit-fill-available;
}

.edit-content {
	width: -webkit-fill-available;
    max-width: -webkit-fill-available;
    margin-left: 0;
    margin-right: auto;
}

.image-text {
	padding: 2px;
    margin: 10px;
}

.note-label {
	top: 0px;
}

.title-label {
	top: 7px;
}

#title-input {
	font-size:30px;
	margin-left: 0;
    margin-right: auto;
    width: 400px;
    max-width: -webkit-fill-available;
}
